# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text
*.hpp text
*.cpp text
*.cc text
*.mm text
*.txt text
*.cmake text
*.rc text
*.bat text eol=crlf

# Declare files that will always have CRLF line endings on checkout.
*.sln -text
*.nsh -text
*.cer -text
*.inf -text
*.pem -text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
